// Spacings
$sprites-facebook-spacing: 12px;
$sprites-facebook-hover-spacing: 12px;
$sprites-gmail-spacing: 12px;
$sprites-gmail-hover-spacing: 12px;
$sprites-linkedin-spacing: 12px;
$sprites-linkedin-hover-spacing: 12px;
$sprites-adress-spacing: 12px;
$sprites-settings-spacing: 12px;
$sprites-shopping-spacing: 12px;
$sprites-checkmark-spacing: 12px; 
$sprites-close-setting-spacing: 12px; 
$sprites-close-address-spacing: 12px; 
$sprites-close-my-salad-spacing: 12px; 
$sprites-salad-shopping-icon-spacing: 12px; 
