@import "compass";
@import "../variables";

/***** Start login-form *****/
.login-form {
  margin:50px auto;
  min-height: 355px;
  
  form {
    max-width: 470px;
    width:100%;
    float: left;
    
    fieldset {
      margin: 10px 0;
      
      input[type="text"], input[type="password"] {
        width: 60%;
        height: 40px;
        color: #747373;
        font-size: 20px;
        border: 1px solid #747373;
        padding: 0px 5px;
        @include border-radius(5px);
        line-height: 24px;
        outline: none;
        
        &:focus {
          outline: 0;
          outline: thin dotted \9;
          @include box-shadow(rgba(0, 0, 0, 0.075) 0 1px 1px, rgba(82, 168, 236, 0.6) 0 0 8px);
          -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
          -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
          -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
        }
      }
      
      label {
        width: 30%;
        text-align: left;
        display: block;
        float: left;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
      }
      
      input[type="submit"] {
        float:right;
        border: 1px solid #747373;
        @include border-radius(5px);
        margin-right: 10%;
        @include transition-property(background);
        @include transition-duration(.2s);
        @include transition-timing-function(ease-in);
        outline: none;
        
        &:hover {
          border: 1px solid #747373;
          @include transition-property(background);
          @include transition-duration(.2s);
          @include transition-timing-function(ease-in);
        }
      }
    }    
  }
  
  /*-- Start password-recover --> register, password recover --*/
 .password-recover {
   margin: 20px 10%;
   
   a {
    display: block;
    float: right;
    margin-left: 15px;
    color: #6e6d64;
    font-weight: 400;
    font-size: 12px;
   }
 }
  /*-- End password-recover --> register, password recover --*/
  
  /*-- Start login-with --> social login --*/
  .login-with {
    text-align: right;
    
    p {
      float: left;
      text-align: left;
      width: 30%;
    }
    
    a {    
      display: block;
      float: left;
      max-width: 85px;
      width: 100%;
      position:relative;
      padding:5px 5px 5px 15px;
      font-size: 12px;
      border: 1px solid #747373;
      color: #747373;
      text-align: center;
      @include border-radius(5px);
      background-color: #fff;
      
      
      &:hover {
        text-decoration: none;
        
      }
      
      &.facebook { 
        
        &:hover {
          color: #3b579d;
          border: 1px solid #3b579d;          
          
          &:before {
            @include sprites-sprite(facebook-hover, false, 0px, 0px);
          }
        }
        &:before {
          content:'';
          width: 9px;
          height: 18px;
          position: absolute;
          left: 3px;
          top: 3px;
          @include sprites-sprite(facebook, false, 0px, 0px);
        }
      }
      
      &.gmail { 
        margin: 0px 14px;
        
        &:hover {
          color: #de4b39;
          border: 1px solid #de4b39;          
          
          &:before {
            @include sprites-sprite(gmail-hover, false, 0px, 0px);
          }
        }
        &:before {
          content:'';
          width: 19px;
          height: 18px;
          position: absolute;
          left: 3px;
          top: 3px;
          @include sprites-sprite(gmail, false, 0px, 0px);
        }
      }
      
      &.linkedin { 
        
        &:hover {
          color: #4f9cc9;
          border: 1px solid #4f9cc9;          
          
          &:before {
            @include sprites-sprite(linkedin-hover, false, 0px, 0px);
          }
        }
        &:before {
          content:'';
          width: 19px;
          height: 18px;
          position: absolute;
          left: 3px;
          top: 3px;
          @include sprites-sprite(linkedin, false, 0px, 0px);
        }
      }
    }
  }
  /*-- End login-with --> social login --*/
}
/***** End login-form *****/

/***** Start info-content *****/
.info-content {
  margin: 50px 0px;
  p {
    font-size: 15px;
    font-weight: 300;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    
    strong {
      font-weight: bold;
      font-size: 15px;
    }
  }
  
  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 10px 0px;
    
    li {
      display: list-item;
      line-height: 20px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
    }
  }
  
  span {
    display: block;
    font-size: 15px;
    color: #A54F4F;
    font-weight: 300;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
}
/***** End info-content *****/

.map-content {
  max-width: 820px;
  max-height: 355px;
  overflow: hidden;
  margin: 50px 10px;
  @include box-shadow(#888 2px 2px 10px);
}

/***** Start register *****/
.register {
  position: relative;
}

  .register a {
    display: block;
    float: left;
  }
/***** End register *****/
 